/* Default custom select styles */
div.cs-select {
	display: block;
	vertical-align: middle;
	position: relative;
	text-align: left;
	background: #fff;
	width: 100%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
}

div.cs-select:focus {
	outline: none; /* For better accessibility add a style for this in your skin */
}

.cs-select select {
	display: none;
	
}

.cs-select span {
	display: block;
	position: relative;
	cursor: pointer;
	padding: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.cs-select span.cs-placeholder{
	opacity:0.7;
}
/* Placeholder and selected option */
.cs-select > span {
	
}



/* Options */
.cs-select .cs-options {
	position: absolute;
	overflow: hidden;
	width: 100%;
	background: #fff;
	visibility: hidden;
}

.cs-select.cs-active .cs-options {
	visibility: visible;
}

.cs-select ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

.cs-select ul span {
	padding: 1em;
}

.cs-select ul li.cs-focus span {
	background-color: #ddd;
}

/* Optgroup and optgroup label */
.cs-select li.cs-optgroup ul {
	padding-left: 1em;
}

.cs-select li.cs-optgroup > span {
	cursor: default;
}


span{
	display:inline;
}

div.cs-skin-elastic {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-radius: 0;
    color: #fff;
    display: block;
    font-size: 16px;
    font-weight: 300;
    opacity: 1;
    padding: 6px 25px;
    position: relative;
    top: 7px;
}



.cs-skin-elastic .cs-options {
	  -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #eeeeee #eeeeee;
    border-image: none;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    color: #000;
    left: 0;
    margin-top: 14px;
    opacity: 1;
    overflow: visible;
    padding-bottom: 0;
}

.cs-skin-elastic.cs-active .cs-options {
	position:absolute;
	z-index:999;
}

.cs-skin-elastic .cs-options ul li {
	opacity: 0;
}

.cs-skin-elastic.cs-active .cs-options ul li {

	opacity: 1;
	-webkit-transition: none;
	transition: none;
	-webkit-animation: bounce 0.6s ease-out;
  	animation: bounce 0.6s ease-out;
	border-bottom:1px #eeeeee solid;
}
.cs-skin-elastic.cs-active .cs-options ul li:hover{

	color:#f7964f;
}
.slct{
	margin-bottom:30px;
}
.cs-skin-elastic.cs-active .cs-options ul li{opacity:1 !important;}
.cs-skin-elastic.cs-active .cs-options ul li:last-child{
	border-bottom:0px;
}

.cs-skin-elastic .cs-options span {
	background-repeat: no-repeat;
	background-position: 1.5em 50%;
	background-size: 2em auto;
	padding: 10px;

.cs-skin-elastic .cs-options span:hover,
.cs-skin-elastic .cs-options li.cs-focus span,
.cs-skin-elastic .cs-options .cs-selected span {
	color: #1e4c4a;
}


@-webkit-keyframes expand { 
	0% { -webkit-transform: scale3d(1,0,1); }
	25% { -webkit-transform: scale3d(1,1.2,1); }
	50% { -webkit-transform: scale3d(1,0.85,1); }
	75% { -webkit-transform: scale3d(1,1.05,1) }
	100% { -webkit-transform: scale3d(1,1,1); }
}

@keyframes expand { 
	0% { -webkit-transform: scale3d(1,0,1); transform: scale3d(1,0,1); }
	25% { -webkit-transform: scale3d(1,1.2,1); transform: scale3d(1,1.2,1); }
	50% { -webkit-transform: scale3d(1,0.85,1); transform: scale3d(1,0.85,1); }
	75% { -webkit-transform: scale3d(1,1.05,1); transform: scale3d(1,1.05,1); }
	100% { -webkit-transform: scale3d(1,1,1); transform: scale3d(1,1,1); }
}


@-webkit-keyframes bounce { 
	0% { -webkit-transform: translate3d(0,-25px,0); opacity:0; }
	25% { -webkit-transform: translate3d(0,10px,0); }
	50% { -webkit-transform: translate3d(0,-6px,0); }
	75% { -webkit-transform: translate3d(0,2px,0); }
	100% { -webkit-transform: translate3d(0,0,0); opacity: 1; }
}

@keyframes bounce { 
	0% { -webkit-transform: translate3d(0,-25px,0); transform: translate3d(0,-25px,0); opacity:0; }
	25% { -webkit-transform: translate3d(0,10px,0); transform: translate3d(0,10px,0); }
	50% { -webkit-transform: translate3d(0,-6px,0); transform: translate3d(0,-6px,0); }
	75% { -webkit-transform: translate3d(0,2px,0); transform: translate3d(0,2px,0); }
	100% { -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); opacity: 1; }
}
