<div class="row">
    <div class="col-lg-12">
        <h1 style="float:left;">Add Voucher Image</h1>
    </div>
</div>

<div class="row" ng-controller="SettingsController">
    <div class="col-lg-12">
        
        <div class="voucher-history" id="no-more-tables" style="margin-top: 0px;">
            <form role="form" class="voucherForm" name="voucher_image_form">
                <div class="row innerpage">
                    <div  class="col-lg-7 no-padding">
                        <div class="form-group" ng-init="getVoucherTypes();">
                            <label>Select Voucher Image Type</label>
                            <select class="form-control" name="voucher_type" id="voucher_type" ng-model="voucher_type" ng-required="true">
                                <option value="">Select Type</option>
                                <option ng-repeat="option in voucherTypes" value="{{option}}">{{option}}</option>
                            </select>
                        </div>
                        
                        
                        <div class="form-group">
                        	<label>Select Voucher Image</label>
                            <input type="file" ngf-select ng-model="picFile" name="file" accept="image/*" ngf-max-size="2MB" ng-required="true">
                          	<i ng-show="voucher_image_form.file.$error.maxSize">File too large {{picFile.size / 1000000|number:1}}MB: max 2M</i>
                          	<img ng-show="voucher_image_form.file.$valid" ngf-thumbnail="picFile" class="thumb" width="150" style="padding:20px 0px;"> <button class="btn btn-danger" ng-click="picFile = null" ng-show="picFile">Remove</button>
                        </div>
                        
                        <div class="form-group">
                        	<button ng-disabled="!voucher_image_form.$valid" ng-click="uploadVoucherImage(picFile)" class="btn btn-primary">Submit</button>
                            <!--<span class="progress" ng-show="picFile.progress >= 0" style="line-height:15px; background-color:#03F; color:#03F;">
	                            <div style="width:{{picFile.progress}}%; background-color:#24b6ac;" ng-bind="picFile.progress + '%'"></div>
                            </span>-->
                        </div>                        
                        
                        
                        
                          
                                        
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>